@font-face {
    font-family: 'Bobby Jones';
    src: url('/bobbyjones.ttf') format('truetype');
}

nav {
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    background-color: #002B5B;
    padding: 0em 2em; */
    font-family: 'Antonio', sans-serif;
    background-color: #1F1122;
    text-transform: uppercase;
}

/* 
nav ul {
    text-transform: uppercase;
    padding: 0em 1em;
}

nav ul a {
    text-decoration: none;
    color: #F9F5EB;
    font-size: 1.4em;
} */

.navbar-brand,
#teamlogos,
#footerlogo {
    font-family: 'Antonio', sans-serif;
    font-size: 1em;
    color: #FFCC00;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#footerlogo {
    width: 120px;
    height: 95px;
    margin-right: 0.5em;
}

.navbar-brand img {
    content: url(/img/sportslogowhite.png);
}

.social-logos svg {
    height: 100%;
    width: 45px;
    margin: 0px 10px;
    fill: #FFCC00;
}

.social-logos svg:hover {
    fill: #ffffff;
}

.social-logos {
    align-items: center;
}


/* .navbar-brand:hover,
.nav-link:hover,
.nav-link.active:hover {
    color: #ffffffa7;
} */

/* {
    color: #ffffffaf;
} */

/* .nav-link {
    color: #ffffff;
} */

/* .navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #ffffff;
} */

.navbar {
    margin-bottom: 0em;
}

/* button.navbar-toggler,
span.navbar-toggler-icon {
    color: #ffffff;
} */

header {
    margin: 0px;
    padding: 0px;
}

thead {
    background-color: #4f3355;
    color: #ffffff;
}

.banner h1 {
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
    font-size: 5em;
    color: #ffffff;
    text-align: center;
    padding: 0em 0.5em;
    margin: 0em;
    text-transform: uppercase;
}

.banner h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    padding: 0em 0.5em;
    margin: 0.5em;
}

.banner {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(67, 147, 115, 0.7), rgba(3, 60, 145, 0.7), rgba(203, 21, 91, 0.7)), url('/img/banner.JPG');
}


body {
    margin: 0px;
}

/* .container {
    display: flex;
    justify-content: center;
    height: fit-content;
    height: 15em;
    padding: 2em 2em;
} */

/* .schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

.schedule img {
    width: 100%;
}

.schedulecontainer {
    background-color: bisque;
}

#title {
    flex-grow: 2;
    font-family: 'Bobby Jones', sans-serif;
    font-size: 1.6em;
    padding-left: 0.2em;
}

/* nav img {
    width: 100%;
} */

#logo {
    width: 75px;
}

h1 {
    font-family: 'Antonio', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    ;
}

body {
    background-color: #1F1122;
}

.display-2 {
    font-weight: bold;
    color: #ffffff;
}

h4 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #ffffff;
}

table {
    font-family: 'Antonio', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

#teamlogos img {
    width: 100px;
    height: 100px;
}

#scorpions {
    background-color: #439373cc;
    color: #ffffff;
}

#stunners {
    background-color: #AF801Ccc;
    color: #ffffff;
}

#hustlers {
    background-color: #033C91cc;
    color: #ffffff;
}

#tornados {
    background-color: #CB155Bcc;
    color: #ffffff;
}

#turtles {
    background-color: #595959cc;
    color: #ffffff;
}

footer {
    background-color: #1F1122;
    padding: 3em;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
}

footer .display-2 {
    color: #ffffff;
    font-size: 4em;
}

footer .btn-primary {
    background-color: #FFCC00;
    color: #1F1122;
    border: none;
    font-size: 2em;
    margin: auto;
    margin-top: 10px;
}

footer .btn-primary:hover {
    background-color: #ffffff;
    color: #1F1122;
}

.team-name {
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
    font-size: 4em;
    text-transform: uppercase;
    font-style: italic;
    color: #1F1122;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    margin: 0.3em 0em;
}

.roster {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1.8em;
    margin-bottom: 2em;
}

#rosterlogo img {
    width: 400px;
    margin: 3.5em;
    margin-left: 5em;
}

.carousel-item {
    transition: transform .5s ease-in;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity .5s .5s;
}

body {
    min-height: 100vh;
}

.accordion-button {
    background-color: #4f3355;
    color: #ffffff;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 0.75em;
}

.accordion-button svg {
    color: #ffffff;
}

.accordion,
#accordionPanelsStayOpenExample {
    border-radius: none;
    border: none;
}

.accordion-body {
    background-color: #1F1122;
}

.accordion,
.accordion-item,
.accordion-header,
.accordion-button,
.accordion-group .accordion-heading+.accordion-collapse>.accordion-body {
    border: none !important;
    border-radius: 0px !important;
    border-width: 0px !important;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-group {
    border: none;
}

.accordion-button:not(.collapsed) {
    color: #1F1122 !important;
    background-color: #f5f5f5 !important;
}

.accordion-button (.collapsed) {
    color: #ffffff !important;
    background-color: #f5f5f5 !important;
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
    background-color: #f5f5f5 !important;
    color: #1F1122 !important;
    text-decoration: none !important;
    border: none;
    box-shadow: 0px !important;

}

.accordion-button {
    border: none !important;
    S
}

.accordion-button::after {
    z-index: 3;
    border: none;
    outline: 0;
    color: #ffffff !important;
}

.accordion-button {
    color: #ffffff !important;
}

.accordion-button:focus {
    z-index: 3;
    color: #1F1122 !important;
    border: none;
    outline: 0;
    box-shadow: 0 0 0 .25rem #f5f5f5 !important;
    background-color: #f5f5f5;
}

.accordion-body {
    border-bottom: none !important;
}

.addedspace {
    height: 35vh;
    background-color: #1F1122;
}

#teamstitle .display-2,
#standings-title .display-2,
#schedule-title .display-2 {
    margin-top: 0.3em;
}

.accordion-header {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#spacearoundschedule {
    padding: 5em;
    background-color: #1F1122;
    padding-top: 1em;
}

.schedulepage {
    background-color: #1F1122;
}

/* Navbar Responsive */

@media (max-width: 1200px) {

    footer h2 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer .col-xl-3 {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0.5em 0em;
    }

    footer .col-xl-2 {
        margin-top: 1em;
    }

    footer .display-2 {
        font-size: 2.5em;
    }

    footer .btn-primary {
        font-size: 2em;
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    #rosterlogo img {
        width: 300px;
        margin: 3.5em;
    }

    .roster {
        font-size: 1.4em;
        margin-bottom: 2em;
    }

    .team-name {
        font-size: 3em;
    }

}

@media (max-width: 767px) {

    /* nav,
    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        padding: 0.3em 0em;
        margin: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: linear-gradient(#002B5B, #002f64);
    }

    nav {
        padding: 0em;
    } */

    .schedule img {
        width: 100%;
    }

    #logo {
        padding-top: 1em;
    }

    #rosterlogo img {
        margin: 0em;
    }

    .roster {
        font-size: 1.4em;
        margin-bottom: 2em;
    }

    .team-name {
        margin-top: 0em;
    }

    #spacearoundschedule {
        padding: 1.5em;
        background-color: #1F1122;
    }
}

@media (max-width: 576px) {
    #teamlogos img {
        width: 50px;
        height: 50px;
    }

    table {
        font-size: 1.4em;
    }

    footer .display-2 {
        font-size: 2em;
    }

    footer .btn-primary {
        font-size: 1.5em;
        margin-top: 2px;
    }

    .social-logos svg {
        height: 100%;
        width: 20px;
        margin: 0px 5px;
    }

    #rosterlogo img {
        width: 180px;
        margin-top: 1em;
    }

    .roster {
        font-size: 1em;
        margin-bottom: 2em;
    }

    .team-name {
        font-size: 2.2em;
        margin: 0.3em 0em;
    }

    #spacearoundschedule {
        padding: 1em;
        background-color: #1F1122;
    }
}


@media (min-width: 768px) {
    .navbar-brand img {
        width: 45px;
        height: 40px;
    }
}