@font-face {
    font-family: 'Bobby Jones';
    src: url('bobbyjones.ttf') format('truetype');
}

nav {
    /* display: flex;
    justify-content: flex-end;
    align-items: center;
    height: fit-content;
    background-color: #002B5B;
    padding: 0em 2em; */
    font-family: 'Antonio', sans-serif;
    background-color: #1F1122;
    text-transform: uppercase;
}

/* 
nav ul {
    text-transform: uppercase;
    padding: 0em 1em;
}

nav ul a {
    text-decoration: none;
    color: #F9F5EB;
    font-size: 1.4em;
} */

.navbar-brand,
#teamlogos,
#footerlogo {
    font-family: 'Antonio', sans-serif;
    font-size: 1em;
    color: #FFCC00;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#footerlogo {
    width: 120px;
    height: 95px;
    margin-right: 0.5em;
}

.navbar-brand img {
    content: url(sportslogowhite.png);
}

.social-logos svg {
    height: 100%;
    width: 45px;
    margin: 0px 10px;
    fill: #FFCC00;
}

.social-logos svg:hover {
    fill: #ffffff;
}

.social-logos {
    align-items: center;
}


/* .navbar-brand:hover,
.nav-link:hover,
.nav-link.active:hover {
    color: #ffffffa7;
} */

/* {
    color: #ffffffaf;
} */

/* .nav-link {
    color: #ffffff;
} */

/* .navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: #ffffff;
} */

.navbar {
    margin-bottom: 0em;
}

/* button.navbar-toggler,
span.navbar-toggler-icon {
    color: #ffffff;
} */

header {
    margin: 0px;
    padding: 0px;
}

thead {
    background-color: #1F1122;
    color: #ffffff;
}

.banner h1 {
    font-family: 'Antonio', sans-serif;
    font-weight: bold;
    font-size: 5em;
    color: #ffffff;
    text-align: center;
    padding: 0em 0.5em;
    margin: 0em;
    text-transform: uppercase;
}

.banner h2 {
    font-family: 'Antonio', sans-serif;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    padding: 0em 0.5em;
    margin: 0.5em;
}

.banner {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(67, 147, 115, 0.7), rgba(3, 60, 145, 0.7), rgba(203, 21, 91, 0.7)), url('banner.JPG');
}


body {
    margin: 0px;
}

/* .container {
    display: flex;
    justify-content: center;
    height: fit-content;
    height: 15em;
    padding: 2em 2em;
} */

/* .schedule {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} */

.schedule img {
    width: 100%;
}

.schedulecontainer {
    background-color: bisque;
}

#title {
    flex-grow: 2;
    font-family: 'Bobby Jones', sans-serif;
    font-size: 1.6em;
    padding-left: 0.2em;
}

/* nav img {
    width: 100%;
} */

#logo {
    width: 75px;
}

h1 {
    font-family: 'Antonio', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    ;
}

.display-2 {
    font-weight: bold;
    color: #1F1122;
}

h4 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #1F1122;
}

table {
    font-family: 'Antonio', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

#teamlogos img {
    width: 100px;
    height: 100px;
}

#scorpions {
    background-color: #439373cc;
    color: #ffffff;
}

#stunners {
    background-color: #AF801Ccc;
    color: #ffffff;
}

#hustlers {
    background-color: #033C91cc;
    color: #ffffff;
}

#tornados {
    background-color: #CB155Bcc;
    color: #ffffff;
}

#turtles {
    background-color: #595959cc;
    color: #ffffff;
}

footer {
    background-color: #1F1122;
    padding: 3em;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
}

footer .display-2 {
    color: #ffffff;
    font-size: 4em;
}

footer .btn-primary {
    background-color: #FFCC00;
    color: #1F1122;
    border: none;
    font-size: 2em;
    margin: auto;
    margin-top: 10px;
}

footer .btn-primary:hover {
    background-color: #ffffff;
    color: #1F1122;
    border: none;
    font-size: 2em;
    margin: auto;
    margin-top: 10px;
}


/* Navbar Responsive */

@media (max-width: 768px) {

    /* nav,
    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        padding: 0.3em 0em;
        margin: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: linear-gradient(#002B5B, #002f64);
    }

    nav {
        padding: 0em;
    } */

    .schedule img {
        width: 100%;
    }

    #logo {
        padding-top: 1em;
    }
}

@media (max-width: 1200px) {

    footer h2 {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    footer .col-xl-3 {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0.5em 0em;
    }

    footer .col-xl-2 {
        margin-top: 1em;
    }

    footer .display-2 {
        font-size: 2.5em;
    }

    footer .btn-primary {
        font-size: 2em;
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    #teamlogos img {
        width: 50px;
        height: 50px;
    }

    table {
        font-size: 1.4em;
    }

    footer .display-2 {
        font-size: 1.8em;
    }

    footer .btn-primary {
        font-size: 1.3em;
        margin-top: 2px;
    }

    .social-logos svg {
        height: 100%;
        width: 20px;
        margin: 0px 5px;
    }
}


@media (min-width: 768px) {
    .navbar-brand img {
        width: 45px;
        height: 40px;
    }
}